JWT_SECRET=Somos Guaches -- La Red Social de Tierra Caliente
MONGODB_URI=mongodb+srv://SuperGeorge:R3dS0c14lT13rr4C4l13nt3@somosguaches.wosfn2u.mongodb.net/somosguaches?appName=SomosGuaches
SEED_ADMIN_EMAIL=admin@somosguaches.com
SEED_ADMIN_PASSWORD=Jorge y Esm3r4ld4 R105 *-*
SEED_USER_EMAIL=usuario@somosguaches.com
SEED_USER_PASSWORD=Jorge y Lup1t4
