JWT_SECRET=Somos Guaches -- La Red Social de Tierra Caliente
MONGODB_URI=mongodb://localhost:27017/somosguaches
SEED_ADMIN_EMAIL=admin@somosguaches.com
SEED_ADMIN_PASSWORD=Jorge y Esm3r4ld4 R105 *-*
SEED_USER_EMAIL=usuario@somosguaches.com
SEED_USER_PASSWORD=Jorge y Lup1t4
